body {background-color: #ff8f8f;}
	
#banner {
	color: #7eadf8;
	width: 90px;
}

.principal{
	background: #a4c1ff;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #7eadf8;
}  

#banner {
	color: #7eadf8;
	width: 90px;
	font-style: normal
}

.beneficios {
	background: #ff8f8f;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 100%;
}